<h1>Список всех арендаторов</h1>
@{
    foreach(var tenant in Model.AllTenants)
    {
        <div>
        <h2>ФИО: @tenant.Surname @tenant.Name @tenant.Patronymic</h2>
        <p>Номер телефона: @tenant.PhoneNumber</p>
        <p>Почта: @tenant.Email</p>
        </div>
    }
}
