@{
    foreach(var tenant in Model.AllTenants)
    {
    <tbody class="tbody">
        <tr>
            <td>@tenant.Id</td>
            <td>@tenant.Surname</td>
            <td>@tenant.Name</td>
            <td>@tenant.Patronymic</td>
            <td>@tenant.PhoneNumber</td>
            <td>@tenant.Email</td>
            <td><a class="button" href="#"> Изменить </a></td>
            <td><a class="button" href="#"> Удалить </a></td>
        </tr>
    </tbody>
    }
}
